<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogFileCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <LogFileCheck.Properties.Settings>
            <setting name="txt_rangeWeldingDistance" serializeAs="String">
                <value>AT2:AT</value>
            </setting>
            <setting name="txt_logfile" serializeAs="String">
                <value>E:\Roboti\MFU\01_01234.xlsx</value>
            </setting>
            <setting name="txt_rangeWeldingDistanceValLSL" serializeAs="String">
                <value>0.16</value>
            </setting>
            <setting name="txt_rangeWeldingDistanceValUSL" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="txt_rangeWeldingDistanceLSL" serializeAs="String">
                <value>AR2:AR</value>
            </setting>
            <setting name="txt_rangeWeldingDistanceUSL" serializeAs="String">
                <value>AW2:AW</value>
            </setting>
            <setting name="txt_rangeWeldingEnergy" serializeAs="String">
                <value>AZ2:AZ</value>
            </setting>
            <setting name="txt_rangeWeldingEnergyValLSL" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="txt_rangeWeldingEnergyValUSL" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="txt_rangeWeldingEnergyLSL" serializeAs="String">
                <value>AX2:AX</value>
            </setting>
            <setting name="txt_rangeWeldingEnergyUSL" serializeAs="String">
                <value>BC2:BC</value>
            </setting>
            <setting name="txt_rangeAirFlowFlowVolume" serializeAs="String">
                <value>CC2:CC</value>
            </setting>
            <setting name="txt_rangeAirFlowFlowVolumeValLSL" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="txt_rangeAirFlowFlowVolumeValUSL" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="txt_rangeAirFlowFlowVolumeLSL" serializeAs="String">
                <value>CA2:CA</value>
            </setting>
            <setting name="txt_rangeAirFlowFlowVolumeUSL" serializeAs="String">
                <value>CF2:CF</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins0" serializeAs="String">
                <value>DT2:DT</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins0ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins0USL" serializeAs="String">
                <value>DW2:DW</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins0ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins0LSL" serializeAs="String">
                <value>DP2:DP</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins1" serializeAs="String">
                <value>EB2:EB</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins1ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins1ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins1LSL" serializeAs="String">
                <value>DX2:DX</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins1USL" serializeAs="String">
                <value>EE2:EE</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins2" serializeAs="String">
                <value>EJ2:EJ</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins2ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins2ValLSL" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins2LSL" serializeAs="String">
                <value>EF2:EF</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins2USL" serializeAs="String">
                <value>EE2:EE</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins3" serializeAs="String">
                <value>ER2:ER</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins3ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins3ValLSL" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins3LSL" serializeAs="String">
                <value>EN2:EN</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins3USL" serializeAs="String">
                <value>EE2:EE</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins4" serializeAs="String">
                <value>EZ2:EZ</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins4ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins4ValLSL" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins4LSL" serializeAs="String">
                <value>EV2:EV</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins4USL" serializeAs="String">
                <value>EE2:EE</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins0" serializeAs="String">
                <value>GD2:GD</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins0ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins0ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins0LSL" serializeAs="String">
                <value>FZ2:FZ</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins0USL" serializeAs="String">
                <value>GG2:GG</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins1" serializeAs="String">
                <value>GL2:GL</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins1ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins1ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins1LSL" serializeAs="String">
                <value>GH2:GH</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins1USL" serializeAs="String">
                <value>GO2:GO</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins2" serializeAs="String">
                <value>GT2:GT</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins2ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins2ValLSL" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins2LSL" serializeAs="String">
                <value>GP2:GP</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins2USL" serializeAs="String">
                <value>EE2:EE</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins3" serializeAs="String">
                <value>HB2:HB</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins3ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins3ValLSL" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins3LSL" serializeAs="String">
                <value>GX2:GX</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins3USL" serializeAs="String">
                <value>EE2:EE</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins4" serializeAs="String">
                <value>HJ2:HJ</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins4ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins4ValLSL" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins4LSL" serializeAs="String">
                <value>HF2:HF</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins4USL" serializeAs="String">
                <value>EE2:EE</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins0" serializeAs="String">
                <value>IN2:IN</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins0ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins0ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins0LSL" serializeAs="String">
                <value>IJ2:IJ</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins0USL" serializeAs="String">
                <value>IQ2:IQ</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins1" serializeAs="String">
                <value>IV2:IV</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins1ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins1ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins1LSL" serializeAs="String">
                <value>IR2:IR</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins1USL" serializeAs="String">
                <value>IY2:IY</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins2" serializeAs="String">
                <value>JD2:JD</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins2ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins2ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins2LSL" serializeAs="String">
                <value>IZ2:IZ</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins2USL" serializeAs="String">
                <value>JG2:JG</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins3" serializeAs="String">
                <value>JL2:JL</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins3ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins3ValLSL" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins3LSL" serializeAs="String">
                <value>JH2:JH</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins3USL" serializeAs="String">
                <value>EE2:EE</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins4" serializeAs="String">
                <value>JT2:JT</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins4ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins4ValLSL" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins4LSL" serializeAs="String">
                <value>JP2:JP</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins4USL" serializeAs="String">
                <value>EE2:EE</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint0" serializeAs="String">
                <value>NA2:NA</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint0ValUSL" serializeAs="String">
                <value>19.01</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint0ValLSL" serializeAs="String">
                <value>10.24</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint0LSL" serializeAs="String">
                <value>MY2:MY</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint0USL" serializeAs="String">
                <value>NC2:NC</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint1" serializeAs="String">
                <value>NH2:NH</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint1ValUSL" serializeAs="String">
                <value>24.34</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint1ValLSL" serializeAs="String">
                <value>13.1</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint1LSL" serializeAs="String">
                <value>NF2:NF</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint1USL" serializeAs="String">
                <value>NJ2:NJ</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint2" serializeAs="String">
                <value>NO2:NO</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint2ValUSL" serializeAs="String">
                <value>22.05</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint2ValLSL" serializeAs="String">
                <value>11.88</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint2LSL" serializeAs="String">
                <value>NM2:NM</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint2USL" serializeAs="String">
                <value>NQ2:NQ</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint3" serializeAs="String">
                <value>NV2:NV</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint3ValUSL" serializeAs="String">
                <value>22.05</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint3ValLSL" serializeAs="String">
                <value>11.88</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint3LSL" serializeAs="String">
                <value>NT2:NT</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint3USL" serializeAs="String">
                <value>NX2:NX</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint4" serializeAs="String">
                <value>OC2:OC</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint4ValUSL" serializeAs="String">
                <value>24.34</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint4ValLSL" serializeAs="String">
                <value>13.1</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint4LSL" serializeAs="String">
                <value>OA2:OA</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint4USL" serializeAs="String">
                <value>OE2:OE</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint5" serializeAs="String">
                <value>OJ2:OJ</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint5ValUSL" serializeAs="String">
                <value>19.01</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint5ValLSL" serializeAs="String">
                <value>10.24</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint5LSL" serializeAs="String">
                <value>OH2:OH</value>
            </setting>
            <setting name="txt_rangeProfileScanPoint5USL" serializeAs="String">
                <value>OL2:OL</value>
            </setting>
            <setting name="txt_rangeJoiningForce" serializeAs="String">
                <value>PV2:PV</value>
            </setting>
            <setting name="txt_rangeJoiningForceValUSL" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="txt_rangeJoiningForceValLSL" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="txt_rangeJoiningForceLSL" serializeAs="String">
                <value>PT2:PT</value>
            </setting>
            <setting name="txt_rangeJoiningForceUSL" serializeAs="String">
                <value>PX2:PX</value>
            </setting>
            <setting name="txt_rangeLaserWeldingSettingDistance" serializeAs="String">
                <value>QJ2:QJ</value>
            </setting>
            <setting name="txt_rangeLaserWeldingSettingDistanceValUSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeLaserWeldingSettingDistanceValLSL" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="txt_rangeLaserWeldingSettingDistanceLSL" serializeAs="String">
                <value>QH2:QH</value>
            </setting>
            <setting name="txt_rangeLaserWeldingSettingDistanceUSL" serializeAs="String">
                <value>QM2:QM</value>
            </setting>
            <setting name="txt_rangeLaserWeldingStartPosition" serializeAs="String">
                <value>QR2:QR</value>
            </setting>
            <setting name="txt_rangeLaserWeldingStartPositionValUSL" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="txt_rangeLaserWeldingStartPositionValLSL" serializeAs="String">
                <value>2.8</value>
            </setting>
            <setting name="txt_rangeLaserWeldingStartPositionLSL" serializeAs="String">
                <value>QP2:QP</value>
            </setting>
            <setting name="txt_rangeLaserWeldingStartPositionUSL" serializeAs="String">
                <value>QU2:QU</value>
            </setting>
            <setting name="txt_rangeLaserWeldingShutdownDistance" serializeAs="String">
                <value>RB2:RB</value>
            </setting>
            <setting name="txt_rangeLaserWeldingShutdownDistanceValUSL" serializeAs="String">
                <value>0.48</value>
            </setting>
            <setting name="txt_rangeLaserWeldingShutdownDistanceValLSL" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="txt_rangeLaserWeldingShutdownDistanceLSL" serializeAs="String">
                <value>QZ2:QZ</value>
            </setting>
            <setting name="txt_rangeLaserWeldingShutdownDistanceUSL" serializeAs="String">
                <value>RE2:RE</value>
            </setting>
            <setting name="txt_rangeLaserWeldingWeldingtime" serializeAs="String">
                <value>RH2:RH</value>
            </setting>
            <setting name="txt_rangeLaserWeldingWeldingtimeValUSL" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="txt_rangeLaserWeldingWeldingtimeValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeLaserWeldingWeldingtimeLSL" serializeAs="String">
                <value>RF2:RF</value>
            </setting>
            <setting name="txt_rangeLaserWeldingWeldingtimeUSL" serializeAs="String">
                <value>RK2:RK</value>
            </setting>
            <setting name="txt_rangeForce" serializeAs="String">
                <value>RV2:RV</value>
            </setting>
            <setting name="txt_rangeForceValUSL" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="txt_rangeForceValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeForceLSL" serializeAs="String">
                <value>RN2:RN</value>
            </setting>
            <setting name="txt_rangeForceUSL" serializeAs="String">
                <value>RY2:RY</value>
            </setting>
            <setting name="txt_rangeLeaktestStartPressure" serializeAs="String">
                <value>SI2:SI</value>
            </setting>
            <setting name="txt_rangeLeaktestStartPressureValUSL" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="txt_rangeLeaktestStartPressureValLSL" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="txt_rangeLeaktestStartPressureLSL" serializeAs="String">
                <value>SG2:SG</value>
            </setting>
            <setting name="txt_rangeLeaktestStartPressureUSL" serializeAs="String">
                <value>SL2:SL</value>
            </setting>
            <setting name="txt_rangeLeaktestLeakage" serializeAs="String">
                <value>SM2:SM</value>
            </setting>
            <setting name="txt_rangeLeaktestLeakageValUSL" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="txt_rangeLeaktestLeakageValLSL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txt_rangeLeaktestLeakageLSL" serializeAs="String">
                <value>QH2:QH</value>
            </setting>
            <setting name="txt_rangeLeaktestLeakageUSL" serializeAs="String">
                <value>SP2:SP</value>
            </setting>
            <setting name="txt_rangeEOLM01" serializeAs="String">
                <value>TE2:TE</value>
            </setting>
            <setting name="txt_rangeEOLM01ValUSL" serializeAs="String">
                <value>2727</value>
            </setting>
            <setting name="txt_rangeEOLM01ValLSL" serializeAs="String">
                <value>2673</value>
            </setting>
            <setting name="txt_rangeEOLM01LSL" serializeAs="String">
                <value>TD2:TD</value>
            </setting>
            <setting name="txt_rangeEOLM01USL" serializeAs="String">
                <value>TH2:TH</value>
            </setting>
            <setting name="txt_rangeEOLM02" serializeAs="String">
                <value>TL2:TL</value>
            </setting>
            <setting name="txt_rangeEOLM02ValUSL" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="txt_rangeEOLM02ValLSL" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="txt_rangeEOLM02LSL" serializeAs="String">
                <value>TJ2:TJ</value>
            </setting>
            <setting name="txt_rangeEOLM02USL" serializeAs="String">
                <value>TO2:TO</value>
            </setting>
            <setting name="txt_rangeEOLM03" serializeAs="String">
                <value>TS2:TS</value>
            </setting>
            <setting name="txt_rangeEOLM03ValUSL" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="txt_rangeEOLM03ValLSL" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="txt_rangeEOLM03LSL" serializeAs="String">
                <value>TQ2:TQ</value>
            </setting>
            <setting name="txt_rangeEOLM03USL" serializeAs="String">
                <value>TV2:TV</value>
            </setting>
            <setting name="txt_rangeEOLM04" serializeAs="String">
                <value>TZ2:TZ</value>
            </setting>
            <setting name="txt_rangeEOLM04ValUSL" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="txt_rangeEOLM04ValLSL" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="txt_rangeEOLM04LSL" serializeAs="String">
                <value>TX2:TX</value>
            </setting>
            <setting name="txt_rangeEOLM04USL" serializeAs="String">
                <value>UC2:UC</value>
            </setting>
            <setting name="txt_rangeEOLM05" serializeAs="String">
                <value>UG2:UG</value>
            </setting>
            <setting name="txt_rangeEOLM05ValUSL" serializeAs="String">
                <value>1147</value>
            </setting>
            <setting name="txt_rangeEOLM05ValLSL" serializeAs="String">
                <value>1048</value>
            </setting>
            <setting name="txt_rangeEOLM05LSL" serializeAs="String">
                <value>UE2:UE</value>
            </setting>
            <setting name="txt_rangeEOLM05USL" serializeAs="String">
                <value>UJ2:UJ</value>
            </setting>
            <setting name="txt_rangeEOLM06" serializeAs="String">
                <value>UN2:UN</value>
            </setting>
            <setting name="txt_rangeEOLM06ValUSL" serializeAs="String">
                <value>1122</value>
            </setting>
            <setting name="txt_rangeEOLM06ValLSL" serializeAs="String">
                <value>792</value>
            </setting>
            <setting name="txt_rangeEOLM06LSL" serializeAs="String">
                <value>UL2:UL</value>
            </setting>
            <setting name="txt_rangeEOLM06USL" serializeAs="String">
                <value>UQ2:UQ</value>
            </setting>
            <setting name="txt_rangeEOLM07" serializeAs="String">
                <value>UU2:UU</value>
            </setting>
            <setting name="txt_rangeEOLM07ValUSL" serializeAs="String">
                <value>1147</value>
            </setting>
            <setting name="txt_rangeEOLM07ValLSL" serializeAs="String">
                <value>1048</value>
            </setting>
            <setting name="txt_rangeEOLM07LSL" serializeAs="String">
                <value>US2:US</value>
            </setting>
            <setting name="txt_rangeEOLM07USL" serializeAs="String">
                <value>UX2:UX</value>
            </setting>
            <setting name="txt_rangeEOLM08" serializeAs="String">
                <value>VB2:VB</value>
            </setting>
            <setting name="txt_rangeEOLM08ValUSL" serializeAs="String">
                <value>1147</value>
            </setting>
            <setting name="txt_rangeEOLM08ValLSL" serializeAs="String">
                <value>1048</value>
            </setting>
            <setting name="txt_rangeEOLM08LSL" serializeAs="String">
                <value>UZ2:UZ</value>
            </setting>
            <setting name="txt_rangeEOLM08USL" serializeAs="String">
                <value>VE2:VE</value>
            </setting>
            <setting name="txt_rangeEOLM09" serializeAs="String">
                <value>VI2:VI</value>
            </setting>
            <setting name="txt_rangeEOLM09ValUSL" serializeAs="String">
                <value>1005</value>
            </setting>
            <setting name="txt_rangeEOLM09ValLSL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txt_rangeEOLM09LSL" serializeAs="String">
                <value>VG2:VG</value>
            </setting>
            <setting name="txt_rangeEOLM09USL" serializeAs="String">
                <value>VL2:VL</value>
            </setting>
            <setting name="txt_rangeEOLM10" serializeAs="String">
                <value>VP2:VP</value>
            </setting>
            <setting name="txt_rangeEOLM10ValUSL" serializeAs="String">
                <value>22000</value>
            </setting>
            <setting name="txt_rangeEOLM10ValLSL" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="txt_rangeEOLM10LSL" serializeAs="String">
                <value>VN2:VN</value>
            </setting>
            <setting name="txt_rangeEOLM10USL" serializeAs="String">
                <value>VS2:VS</value>
            </setting>
            <setting name="txt_rangeEOLM11" serializeAs="String">
                <value>VW2:VW</value>
            </setting>
            <setting name="txt_rangeEOLM11ValUSL" serializeAs="String">
                <value>2151</value>
            </setting>
            <setting name="txt_rangeEOLM11ValLSL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txt_rangeEOLM11LSL" serializeAs="String">
                <value>VU2:VU</value>
            </setting>
            <setting name="txt_rangeEOLM11USL" serializeAs="String">
                <value>VZ2:VZ</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring0" serializeAs="String">
                <value>YS2:YS</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring0ValUSL" serializeAs="String">
                <value>7.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring0ValLSL" serializeAs="String">
                <value>6.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring0LSL" serializeAs="String">
                <value>YQ2:YQ</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring0USL" serializeAs="String">
                <value>YU2:YU</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring1" serializeAs="String">
                <value>YZ2:YZ</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring1ValUSL" serializeAs="String">
                <value>7.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring1ValLSL" serializeAs="String">
                <value>6.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring1LSL" serializeAs="String">
                <value>YX2:YX</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring1USL" serializeAs="String">
                <value>ZB2:ZB</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring2" serializeAs="String">
                <value>ZG2:ZG</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring2ValUSL" serializeAs="String">
                <value>7.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring2ValLSL" serializeAs="String">
                <value>6.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring2LSL" serializeAs="String">
                <value>ZE2:ZE</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring2USL" serializeAs="String">
                <value>ZI2:ZI</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring3" serializeAs="String">
                <value>ZN2:ZN</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring3ValUSL" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring3ValLSL" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring3LSL" serializeAs="String">
                <value>ZL2:ZL</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring3USL" serializeAs="String">
                <value>ZP2:ZP</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring4" serializeAs="String">
                <value>ZU2:ZU</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring4ValUSL" serializeAs="String">
                <value>7.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring4ValLSL" serializeAs="String">
                <value>6.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring4LSL" serializeAs="String">
                <value>ZS2:ZS</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring4USL" serializeAs="String">
                <value>ZW2:ZW</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring5" serializeAs="String">
                <value>AAB2:AAB</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring5ValUSL" serializeAs="String">
                <value>7.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring5ValLSL" serializeAs="String">
                <value>6.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring5LSL" serializeAs="String">
                <value>ZZ2:ZZ</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring5USL" serializeAs="String">
                <value>AAD2:AAD</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring6" serializeAs="String">
                <value>AAI2:AAI</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring6ValUSL" serializeAs="String">
                <value>7.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring6ValLSL" serializeAs="String">
                <value>6.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring6LSL" serializeAs="String">
                <value>AAG2:AAG</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring6USL" serializeAs="String">
                <value>AAK2:AAK</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring7" serializeAs="String">
                <value>AAP2:AAP</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring7ValUSL" serializeAs="String">
                <value>7.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring7ValLSL" serializeAs="String">
                <value>6.2</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring7LSL" serializeAs="String">
                <value>AAN2:AAN</value>
            </setting>
            <setting name="txt_rangeScan3DMeasuring7USL" serializeAs="String">
                <value>AAR2:AAR</value>
            </setting>
        </LogFileCheck.Properties.Settings>
    </userSettings>
</configuration>