<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogFileCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <LogFileCheck.Properties.Settings>
            <setting name="txt_rangeWeldingDistance" serializeAs="String">
                <value>AUM2:AUM</value>
            </setting>
            <setting name="txt_logfile" serializeAs="String">
                <value>E:\Roboti\MFU\02.DataLogFile_31.10.2022Copy.xlsx</value>
            </setting>
            <setting name="txt_rangeWeldingDistanceValLSL" serializeAs="String">
                <value>0.16</value>
            </setting>
            <setting name="txt_rangeWeldingDistanceValUSL" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="txt_rangeWeldingDistanceLSL" serializeAs="String">
                <value>AUK2:AUK</value>
            </setting>
            <setting name="txt_rangeWeldingDistanceUSL" serializeAs="String">
                <value>AUP2:AUP</value>
            </setting>
            <setting name="txt_rangeWeldingEnergy" serializeAs="String">
                <value>AUS2:AUS</value>
            </setting>
            <setting name="txt_rangeWeldingEnergyValLSL" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="txt_rangeWeldingEnergyValUSL" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="txt_rangeWeldingEnergyLSL" serializeAs="String">
                <value>AUQ2:AUQ</value>
            </setting>
            <setting name="txt_rangeWeldingEnergyUSL" serializeAs="String">
                <value>AUV2:AUV</value>
            </setting>
            <setting name="txt_rangeAirFlowFlowVolume" serializeAs="String">
                <value>AVX2:AVX</value>
            </setting>
            <setting name="txt_rangeAirFlowFlowVolumeValLSL" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="txt_rangeAirFlowFlowVolumeValUSL" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="txt_rangeAirFlowFlowVolumeLSL" serializeAs="String">
                <value>AVV2:AVV</value>
            </setting>
            <setting name="txt_rangeAirFlowFlowVolumeUSL" serializeAs="String">
                <value>AWA2:AWA</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins0" serializeAs="String">
                <value>BRB2:BRB</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins0ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins0USL" serializeAs="String">
                <value>BRE2:BRE</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins0ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins0LSL" serializeAs="String">
                <value>BRA2:BRA</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins1" serializeAs="String">
                <value>BRJ2:BRJ</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins1ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins1ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins1LSL" serializeAs="String">
                <value>BRI2:BRI</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins1USL" serializeAs="String">
                <value>BRM2:BRM</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins2" serializeAs="String">
                <value>BRR2:BRR</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins2ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins2ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins2LSL" serializeAs="String">
                <value>BRQ2:BRQ</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins2USL" serializeAs="String">
                <value>BRU2:BRU</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins3" serializeAs="String">
                <value>BRZ2:BRZ</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins3ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins3ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins3LSL" serializeAs="String">
                <value>BRY2:BRY</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins3USL" serializeAs="String">
                <value>BSC2:BSC</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins4" serializeAs="String">
                <value>BSH2:BSH</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins4ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins4ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins4LSL" serializeAs="String">
                <value>BSG2:BSG</value>
            </setting>
            <setting name="txt_rangeScara1FittingPins4USL" serializeAs="String">
                <value>BSK2:BSK</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins0" serializeAs="String">
                <value>BTH2:BTH</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins0ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins0ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins0LSL" serializeAs="String">
                <value>BTG2:BTG</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins0USL" serializeAs="String">
                <value>BTK2:BTK</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins1" serializeAs="String">
                <value>BTP2:BTP</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins1ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins1ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins1LSL" serializeAs="String">
                <value>BTO2:BTO</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins1USL" serializeAs="String">
                <value>BTS2:BTS</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins2" serializeAs="String">
                <value>BTX2:BTX</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins2ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins2ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins2LSL" serializeAs="String">
                <value>BTW2:BTW</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins2USL" serializeAs="String">
                <value>BUA2:BUA</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins3" serializeAs="String">
                <value>BUF2:BUF</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins3ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins3ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins3LSL" serializeAs="String">
                <value>BUE2:BUE</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins3USL" serializeAs="String">
                <value>BUI2:BUI</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins4" serializeAs="String">
                <value>BUN2:BUN</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins4ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins4ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins4LSL" serializeAs="String">
                <value>BUM2:BUM</value>
            </setting>
            <setting name="txt_rangeScara2FittingPins4USL" serializeAs="String">
                <value>BUQ2:BUQ</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins0" serializeAs="String">
                <value>BVN2:BVN</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins0ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins0ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins0LSL" serializeAs="String">
                <value>BVM2:BVM</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins0USL" serializeAs="String">
                <value>BVQ2:BVQ</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins1" serializeAs="String">
                <value>BVV2:BVV</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins1ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins1ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins1LSL" serializeAs="String">
                <value>BVU2:BVU</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins1USL" serializeAs="String">
                <value>BVY2:BVY</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins2" serializeAs="String">
                <value>BWD2:BWD</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins2ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins2ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins2LSL" serializeAs="String">
                <value>BWC2:BWC</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins2USL" serializeAs="String">
                <value>BWG2:BWG</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins3" serializeAs="String">
                <value>BWL2:BWL</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins3ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins3ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins3LSL" serializeAs="String">
                <value>BWK2:BWK</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins3USL" serializeAs="String">
                <value>BWO2:BWO</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins4" serializeAs="String">
                <value>BWT2:BWT</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins4ValUSL" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins4ValLSL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins4LSL" serializeAs="String">
                <value>BWS2:BWS</value>
            </setting>
            <setting name="txt_rangeScara3FittingPins4USL" serializeAs="String">
                <value>BWW2:BWW</value>
            </setting>
        </LogFileCheck.Properties.Settings>
    </userSettings>
</configuration>