<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogFileCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <LogFileCheck.Properties.Settings>
            <setting name="txt_rangeWeldingDistance" serializeAs="String">
                <value>AUM2:AUM</value>
            </setting>
            <setting name="txt_logfile" serializeAs="String">
                <value>E:\Roboti\MFU\02.DataLogFile_31.10.2022Copy.xlsx</value>
            </setting>
            <setting name="txt_rangeWeldingDistanceValLSL" serializeAs="String">
                <value>0.16</value>
            </setting>
            <setting name="txt_rangeWeldingDistanceValUSL" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="txt_rangeWeldingDistanceLSL" serializeAs="String">
                <value>AUK2:AUK</value>
            </setting>
            <setting name="txt_rangeWeldingDistanceUSL" serializeAs="String">
                <value>AUP2:AUP</value>
            </setting>
            <setting name="txt_rangeWeldingEnergy" serializeAs="String">
                <value>AUS2:AUS</value>
            </setting>
            <setting name="txt_rangeWeldingEnergyValLSL" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="txt_rangeWeldingEnergyValUSL" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="txt_rangeWeldingEnergyLSL" serializeAs="String">
                <value>AUQ2:AUQ</value>
            </setting>
            <setting name="txt_rangeWeldingEnergyUSL" serializeAs="String">
                <value>AUV2:AUV</value>
            </setting>
        </LogFileCheck.Properties.Settings>
    </userSettings>
</configuration>